.App {
  display: flex;
  width: 100%;
  max-width: 1400px;
}

.top-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: rgba(8, 13, 58, 0.767);
  padding: 1rem;
}

ul {
  display: flex;
  justify-content: space-between;
}

li {
  margin-left: 40px;
  list-style: none;
}

a {
  text-decoration: none;
}
span {
  color: white;
  text-decoration: none;
}

.nav-icon {
  color: white;
  padding-right: 8px;
  justify-content: center;
  align-items: center;
}

.btn.btn-header {
  border: 1px solid white;
  border-radius: 15px;
  padding: 8px 8px 8px 8px;
}

.users-select {
  margin: 15px;
}
